<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %l %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="logFile" fileName="${log.filename}">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <logger name="org.ansj" level="info"></logger>
        <logger name="com.cufe" level="info"></logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>

        </Root>
    </Loggers>
</Configuration>